

<div class="well">

    <form method="POST" action="http://localhost/l_myapp/public/processform" accept-charset="UTF-8" class="form-horizontal"><input name="_token" type="hidden" value="jO4QIGi5JKCq6kwH9G9hCAg7KasCrEGVM37gRnRX">

    <fieldset>

        <legend>Legend</legend>

        <!-- Email -->
        <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Email:</label>
            <div class="col-lg-10">
                <input class="form-control" placeholder="email" name="email" type="email" id="email">
            </div>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Password:</label>
            <div class="col-lg-10">
                <input class="form-control" placeholder="Password" type="password" name="password" value="" id="password">
                <div class="checkbox">
                    <label for="checkbox">Checkbox</label>
                    <input name="checkbox" type="checkbox" value="1" id="checkbox">
                </div>
            </div>
        </div>

        <!-- Text Area -->
        <div class="form-group">
            <label for="textarea" class="col-lg-2 control-label">Textarea</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" name="textarea" cols="50" id="textarea"></textarea>
                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>
        </div>

        <!-- Radio Buttons -->
        <div class="form-group">
            <label for="radios" class="col-lg-2 control-label">Radios</label>
            <div class="col-lg-10">
                <div class="radio">
                    <label for="radio1">This is option 1.</label>
                    <input id="radio1" checked="checked" name="radio" type="radio" value="option1">

                </div>
                <div class="radio">
                    <label for="radio2">This is option 2.</label>
                    <input id="radio2" name="radio" type="radio" value="option2">
                </div>
            </div>
        </div>

        <!-- Select With One Default -->
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Select w/Default</label>
            <div class="col-lg-10">
                <select class="form-control" id="select" name="select"><option value="S" selected="selected">Small</option><option value="L">Large</option><option value="XL">Extra Large</option><option value="2XL">2X Large</option></select>
            </div>
        </div>

        <!-- Select Multiple -->
        <div class="form-group">
            <label for="multipleselect[]" class="col-lg-2 control-label">Multi Select</label>
            <div class="col-lg-10">
                <select class="form-control" multiple="multiple" id="multipleselect[]" name="multipleselect[]"><option value="honda">Honda</option><option value="toyota">Toyota</option><option value="subaru">Subaru</option><option value="ford">Ford</option><option value="nissan">Nissan</option></select>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input class="btn btn-lg btn-info pull-right" type="submit" value="Conferma">
            </div>
        </div>

    </fieldset>

    </form>

</div>

<!doctype html>
<html>

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>Laravel</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8">  </div>
    </div>
</div>
</body>

</html>
